*
*/

!/.gitignore

!/.profile
!/.xprofile
!/.xinitrc
!/.zshenv

!/.config

!/.config/zsh
!/.config/zsh/*
/.config/zsh/.zcompdump

!/.config/sxhkd
!/.config/sxhkd/*

!/.config/bspwm
!/.config/bspwm/*

!/.config/polybar
!/.config/polybar/*

!/.config/Xresources
!/.config/user-dirs.dirs

!/.local
!/.local/bin
!/.local/bin/scripts
!/.local/bin/scripts/rofi
!/.local/bin/scripts/rofi/*
!/.local/bin/scripts/hot-reload
!/.local/bin/scripts/hot-reload/*

!/.urxvt
!/.urxvt/*
!/.urxvt/ext/*

