#!/bin/sh

# Kill any already running apps
pgrep 'sxhkd|compton|mopidy|polybar' | xargs -n1 kill $1 2>/dev/null

# Start our hotkey manager
sxhkd &

# Sync our X resources file
xrdb -merge ~/.config/Xresources

# Start our compositor so we can get that sweet transparancy
compton --config ~/.config/compton/config &

# Set our desktop wallpaper
feh --bg-scale ~/pictures/wallpapers/current

# Start our bar
polybar --config=$HOME/.config/polybar/bars.ini main &

# Start our mpd server
mopidy &
